 
     ion-row{
         position: relative;
         margin-bottom: 10px;
     }
  
   .wrapper{
       width: 100%;
       position: relative;
       height: calc(100vh - 130px);
       overflow: scroll;
       padding-left: 2%;
        
       float: left;
    .product{
        width: 19%;
        height: 140px;
        position: relative;
        float: left;
     
        overflow: hidden;
     
        margin-bottom: 10px;
        margin-left: 2px;
        margin-right: 2px;
        padding: 5px;
        border-radius: 5px;
        background-color: #fff;
        ion-label.product_name{
            position: relative;
            display: block;
            
        
            color: #888;
        }
        ion-img{
          width: 100%;
          height: 70px;
          display: block;
          position: relative;
          margin-bottom: 5px;
          border: none;
        }
        
    }
   }
   .search{
    background-color: #fff;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    height: 40px;
    color: #333;
    position: relative;
   }.search-icon{
       position: absolute;
       top: 10px;
       z-index: 99;
       right: 10px;
       font-size: 20px;
       color: #888;

   }
   h1, p {
    margin: 20px;
    color: #666;
    line-height: 1.75em;
  }
  
  .nav-horizontal {
    background-color: #333;
    
    height: 3em;
    width: 100%; 
    overflow-x: scroll;
    
    
    .mask {
      height: 5em;
      width: 100%;
      overflow-x: auto;
     
    }
    
    .list {
      display: inline-table;
      margin: 0 auto;
      max-width: 100%;
      padding-left: 0;
      
      li {
      display: table-cell;

      }
  
      a {
        display: block;
        padding: 0 1em;
        text-decoration: none;
        color: #888;
        height: 3em;
        line-height: 3;
        &:hover {
          border-bottom: 2px solid black;
          background-color: #f9f9f9;
        }
      }
    }
  }

  
  
  //codepen用 reset
  *{box-sizing: border-box;}body{font-family:sans-serif;padding-top: 100px;width:100vw;background-color:#999;}
   
 