 
<ion-progress-bar style="position: fixed;z-index: 99;" type="indeterminate" color="warning"></ion-progress-bar>
<ion-content>
  
  <div class="wrapper">
  <div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form">
        <input type="text" [(ngModel)]="uname" name="uname" placeholder="username"/>
        <input type="password" [(ngModel)]="password" name="password" placeholder="password"/>
        <button (click)="login()">login</button>
        <ion-radio-group>
          <!-- <ion-list-header>
            <ion-label>
              Auto Manufacturers
            </ion-label>
          </ion-list-header> -->
      
          <ion-item>
            <ion-label>Owner</ion-label>
            <ion-radio value="owner"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Employee</ion-label>
            <ion-radio value="employee"></ion-radio>
          </ion-item>
      
           
        </ion-radio-group>
        <!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->
      </form>
    </div>
  </div>
</div>
</ion-content>
