.menu-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #50545c;
     

} .bg-transparent {
    background: transparent;
    ion-item{
        --background: transparent;
        
    }
  }ion-item{
      cursor: pointer;
  }