<div class="wrapper">
  <img (click)="viewimg(item.productImage.blobdata)" [src]="item.productImage.blobdata" />
  <h2>{{item.name}}</h2>
  <h3>&#8369; {{item.price.price}}</h3>
  <p>sample description sample description sample description sample descriptionsample descriptionsample
    descriptionsample descriptionsample descriptionsample descriptionsample descriptionsample descriptionsample
    descriptionsample descriptionsample descriptionsample descriptionsample descriptionsample descriptionsample
    descriptionsample descriptionsample descriptionsample descriptionsample descriptionsample descriptionsample
    descriptionsample descriptionsample descriptionsample descriptionsample descriptionsample descriptionsample
    descriptionsample descriptionsample descriptionsample description</p>

</div>
<button class="btn" (click)="addProduct()">Add</button>