<ion-content>



  <ion-grid  >
    <ion-row>
      <ion-col size="12">
        <ion-label *ngIf="employee">Employee name: <strong>{{employee.fname}} {{employee.lname}}</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row  >
      <ion-col size="5">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="username"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        
      </ion-col>
      <ion-col size="5">
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item *ngFor="let entry of form">
          <ion-label>{{entry.val}}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    
    
  
    <ion-row style="margin-top: 10px;">
      <ion-col size="3">
  
      </ion-col>
      <ion-col size="5">
        <ion-button (click)="submit()" style="width: 100%;">Next <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="3">
        
      </ion-col>
    </ion-row>
  
   
  </ion-grid>
  
  </ion-content>
  