<div class="menu-wrapper">
  <ion-list class="bg-transparent" >
    <ion-item *ngIf="id !== 0" lines="full" (click)="viewProducts()">
      <ion-icon name="aperture-outline" slot="start" color="light"></ion-icon>
      <ion-label color="light">
        View Products
      </ion-label>
    </ion-item>
    <ion-item lines="full" (click)="viewCashier()">
      <ion-icon name="aperture-outline" slot="start" color="light"></ion-icon>
      <ion-label color="light">
        View Casher
      </ion-label>
    </ion-item>

  </ion-list>
</div>