<ion-header>
  <ion-toolbar>
 <app-owner-header></app-owner-header>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ng-sidebar-container>

    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened"
    [mode]="_MODES[_modeNum]"
    [animate]="_animate"
    [position]="_POSITIONS[_positionNum]"
    [closeOnClickOutside]="_closeOnClickOutside">
      <div class="menu-wrapper">
        <ion-list class="bg-transparent" >
          <!-- <ion-item lines="full" (click)="gofurther('owners-panel/dashboard')">
            <ion-icon name="pie-chart" slot="start" color="light"></ion-icon>
            <ion-label color="light">
              Dashboard
            </ion-label>
          </ion-item> -->
          <ion-item lines="full" (click)="gofurther('owners-panel/products')">
            <ion-icon name="bag" slot="start" color="light"></ion-icon>
            <ion-label color="light">
              Products
            </ion-label>
          </ion-item>

          <ion-item lines="full" (click)="gofurther('owners-panel/sold')">
            <ion-icon name="bag" slot="start" color="light"></ion-icon>
            <ion-label color="light">
              Sold
            </ion-label>
          </ion-item>

          <ion-item lines="full" (click)="gofurther('owners-panel/employee')">
            <ion-icon name="briefcase" slot="start" color="light"></ion-icon>
            <ion-label color="light">
              Employees
            </ion-label>
          </ion-item>

          <ion-item lines="full" (click)="gofurther('owners-panel/attendance')">

            <ion-icon name="calendar" slot="start" color="light"></ion-icon>
            <ion-label color="light">
              Attendance
            </ion-label>
          </ion-item>

          <!-- <ion-item lines="full" (click)="gofurther('owners-panel/payroll')">
            <ion-icon name="cash" slot="start" color="light"></ion-icon>
            <ion-label color="light">
              Payroll
            </ion-label>
          </ion-item> -->
          <ion-item lines="none">

          </ion-item>
          <ion-item lines="full" (click)="gofurther('owners-panel/settings')">
            <ion-icon name="cash" slot="start" color="light"></ion-icon>
            <ion-label color="light">
              Settings
            </ion-label>
          </ion-item>

        </ion-list>
      </div>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
      <ul>
        <li *ngFor="let item of global.adminTeller" (click)="_toggleSidebar()">{{item}}</li>
      </ul>
      <!-- <button (click)="_toggleSidebar()">Toggle sidebar</button> -->
      <ion-card>


        <ion-card-content>
          <ion-router-outlet></ion-router-outlet>


        </ion-card-content>
      </ion-card>

    </div>

  </ng-sidebar-container>

</ion-content>

<!-- <ion-icon name="bag-outline"></ion-icon> -->
