<ion-content>
  
<ion-grid>
    
    <ion-row style="margin-bottom: 30px;">
      <ion-col size="12">
        <ion-label color='primary'>
          Timestamp: {{timestamp}}
        </ion-label>
      </ion-col>
  
       
    </ion-row>
     
    <ion-row class="table-head">
      <ion-col size="1">
        <ion-label>#</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>Product Name</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>Quantity</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>Paid</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>Piece Price</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>Date Sold</ion-label>
      </ion-col>
      
    </ion-row>
    <ion-row class="table-content" *ngFor="let item of sold;index as i">
      <ion-col size="1">
        <ion-label>{{(i + 1)}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-avatar>
          <img [defaultImage]="defaultImage" (click)="viewimg(http.server + item.product.image.name100)" [lazyLoad]="http.server + item.product.image.name20"  [useSrcset]="true" />
        </ion-avatar>
        <ion-label style="top: 5px;position: relative;margin-left: 5px;">{{item.product.product_name}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label >{{item.quantity}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>&#8369;{{global.round2Fixed(item.quantity * item.product.price.price)}}</ion-label>
      </ion-col>
      <ion-col size="2" >
        <div class="badge-wrapper">
        <ion-badge class="td-label-center" color="warning" *ngIf="item.product.price.price">&#8369;{{item.product.price.price}}</ion-badge>
      </div>
      </ion-col>
      <ion-col size="3">
        <ion-label class="td-label-center">{{item.date_created}}</ion-label>
      </ion-col>
    
    </ion-row>
    


  
  </ion-grid>
  
  
</ion-content>