<ion-header>
  <ion-toolbar>
 <app-owner-header></app-owner-header>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ng-sidebar-container>
    <ng-sidebar [(opened)]="_opened"
    [mode]="_MODES[_modeNum]"
    [animate]="_animate"
    [position]="_POSITIONS[_positionNum]"
    [closeOnClickOutside]="_closeOnClickOutside">
      <div class="menu-wrapper">
        <ion-list class="bg-transparent" >
          <ion-item lines="none">
            <ion-icon name="close" (click)="_toggleSidebar()" slot="end" color="light"></ion-icon>
            </ion-item>
          <ion-item lines="full" (click)="gofurther('owners-panel/products')">
            <ion-icon name="storefront" slot="start" color="light"></ion-icon>
            <ion-label color="light">
              Products
            </ion-label>
          </ion-item>

          <ion-item lines="full" (click)="gofurther('owners-panel/sold')">
            <ion-icon name="cash" slot="start" color="light"></ion-icon>
            
            <ion-label color="light">
              Sold
            </ion-label>
          </ion-item>

          <ion-item lines="full" (click)="gofurther('owners-panel/employee')">
            <ion-icon name="briefcase" slot="start" color="light"></ion-icon>
            <ion-label color="light">
              Employees
            </ion-label>
          </ion-item>

          <ion-item lines="full" (click)="gofurther('owners-panel/attendance')">

            <ion-icon name="calendar" slot="start" color="light"></ion-icon>
            <ion-label color="light">
              Attendance
            </ion-label>
          </ion-item>

          <!-- <ion-item lines="full" (click)="gofurther('owners-panel/payroll')">
            <ion-icon name="cash" slot="start" color="light"></ion-icon>
            <ion-label color="light">
              Payroll
            </ion-label>
          </ion-item> -->
          <ion-item lines="none">

          </ion-item>
          <ion-item lines="full" (click)="gofurther('owners-panel/settings')">
            <ion-icon name="settings" slot="start" color="light"></ion-icon>
            <ion-label color="light">
              Settings
            </ion-label>
          </ion-item>

        </ion-list>
      </div>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
      <ion-row>
        <ion-col size="10">
          <ul>
            <li><ion-icon name="menu-outline" (click)="_toggleSidebar()"  style="font-size: 30px;position: relative;top: 10px;" *ngIf="!this._opened" slot="end" color="dark"></ion-icon>
            </li>
            <li *ngFor="let item of global.adminTeller" >{{item}}</li>
          </ul>
        </ion-col>
        <ion-col size="2">
          <ion-button color='warning' style="float: right;position: relative;top: 20px;" (click)="reports($event)">Reports</ion-button>
        </ion-col>
      </ion-row>
      <!-- <button (click)="_toggleSidebar()">Toggle sidebar</button> -->
      <ion-card>


        <ion-card-content>
          <ion-router-outlet></ion-router-outlet>


        </ion-card-content>
      </ion-card>

    </div>

  </ng-sidebar-container>

</ion-content>

<!-- <ion-icon name="bag-outline"></ion-icon> -->
